<div class="simulation-inner component-inner">
  {{> component this}}
  {{#if active}}
  <div class="simulation-wrapper">
    {{#if tasks}}
    <ul class="simulation-task-list after">
      <li data-task-id="{{id}}" class="checkbox-group auto-task">
        <div aria-hidden="true" class="input"><input type="checkbox" id="checkbox1" disabled></div>
        <div class="label"><span aria-hidden="true" class="checkbox"></span><span class="completed-task sr-only"></span><span class="task-label">Start Simulation</span></div>
      </li>
      {{#each tasks}}
      <li data-task-id="{{id}}" class="checkbox-group {{#if @first}}first-task{{/if}}">
        <div aria-hidden="true" class="input"><input type="checkbox" id="checkbox1" disabled></div>
        <div class="label"><span aria-hidden="true" class="checkbox"></span><span class="completed-task sr-only"></span><span class="task-label">{{{_taskLabel}}}</span></div>
      </li>
      {{/each}}
    </ul>
    <ul aria-hidden="true" class="simulation-task-list current">
      {{#each tasks}}
      <li data-task-id="{{id}}" class="checkbox-group {{#if @first}}first-task{{/if}}">
        <div aria-hidden="true" class="input"><input type="checkbox" id="checkbox1" disabled></div>
        <div class="label"><span aria-hidden="true" class="checkbox"></span><span class="completed-task sr-only"></span><span class="task-label">{{{_taskLabel}}}</span></div>
      </li>
      {{/each}}
    </ul>
    {{/if}}
    <div class="simulation-notify-area"></div>
    <div class="simulation-widget simulation-{{_id}} component-widget pin">
      <div id="simulation_{{_id}}" class="simulation-graphic" role="region" aria-label="Simulation Window">
        <div class="sr-current-task sr-only" aria-live="polite"></div>
        <button class="start-simulation">{{ simulation.startSimulationText }}</button>
        <img class="simulation-disabled" />
      </div>
      <div role="toolbar" aria-label="Simulation Controls" aria-controls="simulation_{{cid}}" class="simulation-toolbar"
        style="display:none;">
        <button title="Go Back" class="undo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 512"
            style="width: 30px; height: 24px;"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M48.5 224L40 224c-13.3 0-24-10.7-24-24L16 72c0-9.7 5.8-18.5 14.8-22.2s19.3-1.7 26.2 5.2L98.6 96.6c87.6-86.5 228.7-86.2 315.8 1c87.5 87.5 87.5 229.3 0 316.8s-229.3 87.5-316.8 0c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0c62.5 62.5 163.8 62.5 226.3 0s62.5-163.8 0-226.3c-62.2-62.2-162.7-62.5-225.3-1L185 183c6.9 6.9 8.9 17.2 5.2 26.2s-12.5 14.8-22.2 14.8L48.5 224z" />
          </svg></button>
        <button title="Show Instructions" class="show-instructions"><svg xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 530 512"
            style="width: 35px; height: 24px;"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M160 368c26.5 0 48 21.5 48 48l0 16 72.5-54.4c8.3-6.2 18.4-9.6 28.8-9.6L448 368c8.8 0 16-7.2 16-16l0-288c0-8.8-7.2-16-16-16L64 48c-8.8 0-16 7.2-16 16l0 288c0 8.8 7.2 16 16 16l96 0zm48 124l-.2 .2-5.1 3.8-17.1 12.8c-4.8 3.6-11.3 4.2-16.8 1.5s-8.8-8.2-8.8-14.3l0-21.3 0-6.4 0-.3 0-4 0-48-48 0-48 0c-35.3 0-64-28.7-64-64L0 64C0 28.7 28.7 0 64 0L448 0c35.3 0 64 28.7 64 64l0 288c0 35.3-28.7 64-64 64l-138.7 0L208 492z" />
          </svg></button>
        <button title="Exit Simulation" class="exit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 512"
            style="width: 35px; height: 24px;"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z" />
          </svg></button>
        <button title="Full Screen" class="expand"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450 512"
            style="width: 30px; height: 24px;"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M32 32C14.3 32 0 46.3 0 64l0 96c0 17.7 14.3 32 32 32s32-14.3 32-32l0-64 64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L32 32zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7 14.3 32 32 32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0 0-64zM320 32c-17.7 0-32 14.3-32 32s14.3 32 32 32l64 0 0 64c0 17.7 14.3 32 32 32s32-14.3 32-32l0-96c0-17.7-14.3-32-32-32l-96 0zM448 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l96 0c17.7 0 32-14.3 32-32l0-96z" />
          </svg></button>
      </div>
    </div>
  </div>
  <div class="simulation-mobile-fallback-message-container">
    <p class="simulation-mobile-error">This activity simulates a desktop experience and will require a larger monitor to
      complete.</p>
  </div>
  {{/if}}
</div>
