<div id="screen-{{_screenID}}" class="action-container" aria-label="{{{title}}}" tabindex="-1">
  <h1 class="sr-only">{{displayTitle}}</h1>
  {{#each _childItems}}
  {{#if _isForm}}
  <form data-id="{{id}}" id="simulation_form_{{@index}}_{{../componentID}}" class="simulation-form">
    {{#each _form}}
    <label for="simulation_element_{{@index}}_{{../componentID}}" class="sr-only">{{title}}</label>
    {{#if type.input}}
    <div class="input-wrapper"
      style="width:{{_position._width}}%;height:{{_position._height}}%;top:{{_position._top}}%;left:{{_position._left}}%;">
      <input id="simulation_element_{{@index}}_{{../componentID}}" data-id="{{id}}"
        type="{{#if type.datepicker}}date{{else}}text{{/if}}" class="input-zone simulation-form-element"
        style="font-size:{{_fontSize}}px;" {{#if _prefilled.placeholder}} placeholder="{{_prefilledValueInterpolated}}"
        {{/if}} {{#if _prefilled.text}} value="{{_prefilledValueInterpolated}}" {{/if}} />
    </div>
    {{/if}}
    {{#if type.select}}
    <div class="select-wrapper"
      style="width:{{_position._width}}%;height:{{_position._height}}%;top:{{_position._top}}%;left:{{_position._left}}%;">
      <select id="simulation_element_{{@index}}_{{../componentID}}" data-id="{{id}}" name="options" id="options"
        class="select-zone simulation-form-element" style="font-size:{{_fontSize}}px;">
        {{#each _selectOptions}}
        <option value="{{_selectValue}}">{{_selectValue}}</option>
        {{/each}}
      </select>
    </div>
    {{/if}}
    {{#if type.submit}}
    <div class="button-wrapper"
      style="width:{{_position._width}}%;height:{{_position._height}}%;top:{{_position._top}}%;left:{{_position._left}}%;">
      <div id="simulation_element_{{@index}}_{{../componentID}}" data-id="{{id}}"
        role="{{#if type.button}}button{{/if}}{{#if type.link}}link{{/if}}" tabindex="0" aria-label="{{title}}"
        class="click-zone simulation-form-element form-submit">
      </div>
    </div>
    {{/if}}
    {{#if type.click}}
    <div class="button-wrapper"
      style="width:{{_position._width}}%;height:{{_position._height}}%;top:{{_position._top}}%;left:{{_position._left}}%;">
      <div id="simulation_element_{{@index}}_{{../componentID}}" data-id="{{id}}"
        role="{{#if type.button}}button{{/if}}{{#if type.link}}link{{/if}}" tabindex="0" aria-label="{{title}}"
        class="click-zone simulation-form-element">
      </div>
    </div>
    {{/if}}
    {{/each}}
  </form>
  {{else}}
  <label for="simulation_element_{{@index}}_{{../componentID}}" class="sr-only">{{title}}</label>
  {{#if type.input}}
  <div class="input-wrapper"
    style="width:{{_position._width}}%;height:{{_position._height}}%;top:{{_position._top}}%;left:{{_position._left}}%;">
    <input id="simulation_element_{{@index}}_{{../componentID}}" data-id="{{id}}" type="text"
      class="input-zone simulation-action-element" style="font-size:{{_fontSize}}px;" {{#if _prefilled.placeholder}}
      placeholder="{{_prefilledValueInterpolated}}" {{/if}} {{#if _prefilled.text}}
      value="{{_prefilledValueInterpolated}}" {{/if}} />
  </div>
  {{/if}}
  {{#if type.select}}
  <div class="select-wrapper"
    style="width:{{_position._width}}%;height:{{_position._height}}%;top:{{_position._top}}%;left:{{_position._left}}%;">
    <select id="simulation_element_{{@index}}_{{../componentID}}" data-id="{{id}}" name="options" id="options"
      class="select-zone simulation-action-element" style="font-size:{{_fontSize}}px;">
      {{#each _selectOptions}}
      <option value="{{_selectValue}}">{{_selectValue}}</option>
      {{/each}}
    </select>
  </div>
  {{/if}}
  {{#if type.click}}
  <div class="button-wrapper"
    style="width:{{_position._width}}%;height:{{_position._height}}%;top:{{_position._top}}%;left:{{_position._left}}%;">
    <div id="simulation_element_{{@index}}_{{../componentID}}" data-id="{{id}}"
      role="{{#if type.button}}button{{/if}}{{#if type.link}}link{{/if}}" tabindex="0" aria-label="{{title}}"
      class="click-zone simulation-action-element">
    </div>
  </div>
  {{/if}}
  {{/if}}
  {{/each}}
</div>
