<p><strong>{{t 'adapt-simulation-issues-detected'}}</strong></p>

{{#each errors}}
  <strong>{{name}}</strong>
  <span class="user-input-feedback"><em>{{#if userValue}}{{t 'adapt-simulation-you-have-entered' this }}{{else}}{{t 'adapt-simulation-you-have-not-entered'}}{{/if}}</em></span>
  <p>{{{message}}}</p>
  <br>
{{/each}}

