<p><strong>{{t 'adapt-simulation-issues-detected'}}</strong></p>

{{#each errors}}
  <strong>{{name}}</strong>
  <span class="user-input-feedback"><em>
    {{#if userValue}}
      {{t 'adapt-simulation-you-have-entered' this }}
    {{else}}
      {{#if type.input}}
        {{t 'adapt-simulation-you-have-left-input-empty'}}
      {{/if}}
      {{#if type.select}}
        {{t 'adapt-simulation-no-option-selected'}}
      {{/if}}
    {{/if}}</em></span>
  <p>{{{message}}}</p>
  <br>
{{/each}}

